Satvik/test.py
Satvik/.idea
Satvik/Bag of Words/*
!Satvik/Bag of Words/Company_Profiles_and_Directories_US_Law_Revi2017-08-24_13-46.txt
!Satvik/Bag of Words/Ethical_words.txt
!Satvik/Bag of Words/relevant_sentences.txt
Satvik/.google-cookie